p {
    line-height: 2;
    // font-size: 15px;
}

.mobile-devices {
    md-card {
        padding-left: 8px !important;
        padding-right: 8px !important;
        margin: 0 !important;
        border-radius: 0 !important;
        box-shadow: none !important;
    }
    md-content,
    md-card-content {
        padding: 0 !important;
    }
    md-card-title {
        padding: 0 !important;
        //  padding-bottom: 0 !important;
    }
    .md-display-1 {
        font-size: 24px !important;
    }
    p {
        line-height: 1.6;
    }
    .hero {
        height: 250px !important;
        img {
            max-width: 200px;
            right: 0px;
            top: 50px;
        }
        .text {
            height: 250px;
        }
        h1 {
            font-size: 22px;
        }
        h2 {
            font-size: 16px;
        }
    }
}

.icon-white {
    color: rgba(255, 255, 255, 0.74);
}

.padding-vertical-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.padding-bot-8 {
    padding: 16px !important;
}

.about-img {
    margin-right: 8px;
    img {
        width: 100%;
        max-width: 300px;
    }
}

.md-subhead {
    color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
}

.home-background {
    background: url(home-back.jpg) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 350px;
}

.home-hero {
    height: 400px;
    // width: 100%;
}

.hero {
    height: 400px !important;
    width: 100%;
    margin: 0 !important;
    border-radius: 0 !important;
    .text {
        // position: absolute;
        //left: 10%;
        //top: 10%;
        // h2 {
        color: white;
        //}
        // color: rgb(88, 143, 239);
        padding: 0 16px;
        height: 400px;
    }
    img {
        width: 100%;
        max-width: 400px;
        position: absolute;
        top: 0;
        right: 25%;
    }
}

.hero-bg {
    background: #005C97;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #005C97, #363795);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #005C97, #363795);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar {
    .md-nav-bar {
        // background: #d1d1dd;
        //   border-bottom: 1px solid #c0c0cb;
    }
    background: #d1d1dd;
    // border-bottom: 1px solid #c0c0cb;
}

md-nav-bar.md-default-theme .md-button._md-nav-button.md-unselected,
md-nav-bar .md-button._md-nav-button.md-unselected {
    color: rgba(0, 94, 153, 0.68);
}

.md-display-1 {
    border-bottom: 1px solid #005C97;
    color: #005C97;
    font-weight: bold;
}
