<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Patrício Cordeiro</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!--Scripts-->
    <script src="../lib/angular/angular.min.js"></script>
    <script src="../lib/angular-resource/angular-resource.js"></script>
    <script src="../lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="./lib/angular-messages/angular-messages.js"></script>
    <script src="../lib/lodash/dist/lodash.min.js"></script>
    <script src="app.js"></script>
    <script src="controllers/controller.js"></script>
    <!--css-->
    <link rel="stylesheet" href="../lib/angular-material/angular-material.min
.css">
    <link rel="stylesheet" href="./assets/css/style.min.css">
    <!-- Serivces -->
    <script type="text/javascript" src="./service/Resource.srvc.js"></script>
    <script type="text/javascript" src="./service/Api.srvc.js"></script>
    <script type="text/javascript" src="./service/Myservice.srvc.js"></script>
</head>

<body ng-app="myPageApp">
    <script src="../lib/angular-aria/angular-aria.js"></script>
    <script src="../lib/angular-animate/angular-animate.js"></script>
    <script src="../lib/angular-material/angular-material.min.js"></script>
    <div ng-class="{'mobile-devices':!vm.mdMedia('gt-sm')}" ng-controller="Ctrl as vm" ng-cloak>
        <!-- <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true" background-color="pink">
        </md-button>
        <h2>
          <span>QUIZ</span>
        </h2>
        <span flex></span>
        <md-button ng-repeat="item in vm.navbarItems" aria-label="Menu" ui-sref="{{item.url}}">
            {{item.item}}
        </md-button>
    </div>
</md-toolbar>
 -->
        <!--Coloque o navbar (toolbar do material design) aqui-->
        <md-card class="hero hero-bg">
            <md-button ng-click="vm.toggleLeft()" class="md-icon-button" hide-gt-md>
                <md-icon class="material-icons icon-white" md-svg-icon="./../assets/icon/menu.svg"></md-icon>
            </md-button>
            <md-card-content>
                <div layout="row" layout-align="center center">
                    <div class="text" flex layout="column" layout-align="center center">
                        <h1>PATRÍCIO CORDEIRO</h1> {{$mdMedia('gt-sm')}}
                        <h2>Engenheiro, Desenvolvedor e Freelancer </h2>
                        <!-- <p>Louco por tecnologia</p> -->
                    </div>
                    <div flex layout="row" layout-align="center center">
                        <md-card>
                            <img src="./assets/img/hero.png">
                        </md-card>
                    </div>
                </div>
            </md-card-content>
        </md-card>
        <div hide show-gt-sm flex layout="row" layout-align="center center" class="navbar">
            <div flex flex-gt-sm="80" layout="column" class="ext-content">
                <md-nav-bar class="navbar" md-selected-nav-item="vm.currentNavItem" nav-bar-aria-label="navigation links">
                    <md-nav-item ng-repeat="navItem in  vm.navbarItem" md-nav-sref="{{navItem.url}}" name="{{navItem.name}}">
                        {{ navItem.title}}
                    </md-nav-item>
                </md-nav-bar>
            </div>
        </div>
        <!-- Side nav -->
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Menu</h1>
            </md-toolbar>
            <md-content layout-padding>
                <md-list>
                    <md-list-item ng-repeat="navItem in  vm.navbarItem" ui-sref="{{navItem.url}}" ng-click="vm.toggleLeft()">
                        <span md-colors="{color:'primary'}">{{ navItem.title}}</span>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>
        <md-content class="md-padding">
            <div layout="row" layout-align="center center">
                <div flex flex-gt-md="80" layout="column" class="ext-content">
                    <ui-view></ui-view>
                </div>
            </div>
        </md-content>
    </div>
</body>

</html>
