<md-card>
    <md-card-title>
        <h2 flex class="md-display-1">Programação</h2>
    </md-card-title>
    <md-card-content>
        <md-list flex layout="row" layout-wrap layout-align="center center">
            <md-list-item class="padding-vertical-16 " flex-xs="50" ng-repeat="webskill in vm.webskills" layout="row" layout-align="center center">
                <i><img width="46px" ng-src="../assets/icon/{{ webskill.icon}}.png"/></i>&nbsp {{webskill.title}}
            </md-list-item>
        </md-list>
    </md-card-content>
    <md-card-title>
        <h2 flex class="md-display-1">Banco de dados</h2>
    </md-card-title>
    <md-card-content>
        <md-list layout="row" flex-gt-sm="20" flex>
            <md-list-item flex="none">
                <i><img width="64px" ng-src="../assets/icon/mongodb.png"/></i> {{webskill.title}}
            </md-list-item>
            <md-list-item flex="none">
                <i><img width="64px" ng-src="../assets/icon/mysql.png"/></i>{{webskill.title}}
            </md-list-item>
        </md-list>
    </md-card-content>
    <md-card-content>
        <md-card-title>
            <h2 flex class="md-display-1">Gráficos</h2>
        </md-card-title>
        <md-list flex flex-gt-md="60" layout="row" layout-wrap layout-align="center center">
            <md-list-item flex ng-repeat="softwares in vm.sofGraphics">
                <i><img width="42px" ng-src="../assets/icon/{{ softwares.icon}}.png"/></i>&nbsp {{softwares.title}}
            </md-list-item>
        </md-list>
    </md-card-content>
    <md-card-content>
        <md-card-title>
            <h2 class="md-display-1">Softwares de EDA / Desenvolvimento</h2>
        </md-card-title>
        <md-list>
            <md-list-item flex ng-repeat="softwares in vm.softwares">
                <i><img width="42px" ng-src="../assets/icon/{{ softwares.icon}}.png"/></i>&nbsp {{softwares.title}}
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>
