<md-card>
    <md-card-title>
        <h1 flex class="md-display-1">Meus contatos</h1>
    </md-card-title>
    <md-card-content>
        <md-list>
            <md-list-item>
                <md-button href="tel:91823542" class="md-primary">
                    <md-icon class="material-icons" md-svg-icon="./../assets/icon/whatsapp.svg"></md-icon>
                    (91) 98100-4212
                </md-button>
            </md-list-item>
            <md-list-item>
                <md-button href="tel:91823542" class="md-primary">
                    <md-icon class="material-icons md-primary" md-svg-icon="./../assets/icon/phone.svg"></md-icon>
                    (91) 333-333
                </md-button>
            </md-list-item>
            <md-list-item>
                <md-button href="email:paponcio6@gmail.com" class="md-primary">
                    <md-icon class="material-icons md-primary" md-svg-icon="./../assets/icon/email.svg"></md-icon>
                    paponcio6@gmail.com
                </md-button>
            </md-list-item>
            <md-list-item>
                <md-button href="https://www.facebook.com/patricio.cordeiro.75" class="md-primary" target="_blank">
                    <md-icon md-svg-icon="./../assets/icon/facebook-box.svg"></md-icon>
                    Facebook
                </md-button>
            </md-list-item>
            <md-list-item>
                <md-button href="https://www.linkedin.com/in/patricio-cordeiro-04040839" class="md-primary" target="_blank">
                    <md-icon md-svg-icon="./../assets/icon/linkedin-box.svg"></md-icon>
                    Linkedin
                </md-button>
            </md-list-item>
        </md-list>
        <md-divider></md-divider>
    </md-card-content>
<!-- <md-card-title>
    <h2 class="md-title">Envie uma mensagem</h2>
</md-card-title>
<md-card-content flex flex-gt- sm="50">
    <form name="vm.contactForm" ng-submit="vm.contactForm.$valid && vm.sendMessage($event, vm.contact)" novalidate>
        <div class="my-md-padding-16">
            <div layout="column">
                <md-input-container class="md-block">
                    <label>Seu nome</label>
                    <input type="text" name="name" ng-model="vm.contact.name" required>
                    <div ng-messages="vm.contactForm.name.$error">
                        <div ng-message="required">Deves entrar com o seu nome</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Seu email</label>
                    <input type="email" name="email" ng-model="vm.contact.email" ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="vm.contactForm.email.$error" role="alert">
                        <div ng-message-exp="'required'">
                            Entre com um email.
                        </div>
                        <div ng-message-exp="'pattern'">
                            Entre com um email válido (Ex: paulo@email.com).
                        </div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Assunto</label>
                    <input type="text" name="subject" ng-model="vm.contact.subject" required>
                    <div ng-messages="vm.contactForm.subject.$error">
                        <div ng-message="required">Deves entrar com um assunto</div>
                    </div>
                </md-input-container>
                <md-input-container class="my-md-no-margin">
                    <textarea placeholder="Escreva a sua mensagem aqui" name="text" cols="1" ng-model="vm.contact.text
" ng-keydown="vm.getNumOfChars()" required maxlength="{{vm.maxNumOfChars}}"></textarea>
                    <div ng-messages="vm.contactForm.text.$error">
                        <div ng-message="required">Deves entrar com uma mensagem</div>
                    </div>
                </md-input-container>
            </div>
        </div>
        <div layout="column" flex flex-gt-sm="50">
            <md-button class="md-primary md-raised" ng-disabled="!(vm.contactForm.$dirty && vm.contactForm.$valid)" ng-class="{'md-raised':vm.contactForm.$dirty && vm.contactForm.$valid}" type="submit">Enviar mensagem</md-button>
        </div>
 -->
        </form>
    </md-card-content>
</md-card>
