<md-card>
    <md-card-title>
        <h1 flex class="md-display-1">Formação acadêmica</h1>
    </md-card-title>
    <md-card-content>
        <div layout="row" layout-align="center start">
            <div flex="25">
                <h3 class="md-subhead">Em andamento</h3>
            </div>
            <div flex>
                <h3 class="md-title">Doutorado</h3>
                <p>
                    Em andamento (qualificação defendida) na área de Telecomunicações, Engenharia Elétrica e Computação, Universidade Federal do Pará.</p>
            </div>
        </div>
        <div layout="row" layout-align="center start">
            <div flex="25">
                <h3 class="md-subhead">2009- 2011</h3>
            </div>
            <div flex>
                <h3 class="md-title">Mestrado</h3>
                <p>
                    Engenharia Elétrica e Computação, Universidade Federal do Pará (2011). Dissertação: “Filtragem Digital e Reconstrução de Sinais em Frequência Intermediária usando FPGA”.</p>
            </div>
        </div>
        <div layout="row" layout-align="center start">
            <div flex="25">
                <h3 class="md-subhead">2003-2008</h3>
            </div>
            <div flex>
                <h3 class="md-title">Graduação</h3>
                <p>
                    Em Engenharia Elétrica, Universidade Federal do Pará (2008). Trabalho de conclusão do curso: “Filtragem adaptativa aplicada em cancelamento de ruído acústico”.</p>
            </div>
        </div>
    </md-card-content>
</md-card>
<md-card>
    <md-card-title>
        <h1 flex class="md-display-1">Formação Complementar</h1>
    </md-card-title>
    <md-card-content>
        <div layout="row" layout-align="center center" ng-repeat="course in vm.courses">
            <div flex="25">
                <h3 class="md-subhead">{{course.year}}</h3>
            </div>
            <div flex>
                <p>{{course.title}}</p>
            </div>
        </div>
    </md-card-content>
</md-card>
