<md-card>
    <md-card-title>
        <h1 flex class="md-display-1">Experiência profissional</h1>
    </md-card-title>
    <md-card-content>
        <div layout="row" layout-align="center start">
            <div flex="20">
                <h3 class="md-subhead">2015- Presente</h3>
            </div>
            <div flex>
                <h3 class="md-title">Universiade Federal do Pará</h3>
                <p><b>Cargo:</b> Professor</p>
                <p>
                    <b>Principais atividades:</b> Professor na Universidade Federal do Pará desde setembro de 2015 até o momento, onde leciona as disciplinas Eletrônica digital e microprocessadores e microcontroladores.</p>
            </div>
        </div>
        <div layout="row" layout-align="center start">
            <div flex="20">
                <h3 class="md-subhead">2009- Presente</h3>
            </div>
            <div flex>
                <h3 class="md-title">LASSE-Universiade Federal do Pará</h3>
                <p><b>Cargo:</b> Bolsista Pesquisador</p>
                <p>
                    <b>Principais atividades:</b> Atua como Aluno/Bolsista Pesquisador no <a href="https://www.lasse.ufpa.br/" target="_blank">Laboratório de Sensores e Sistemas Embarcados (LASSE)</a> na Universidade Federal do Pará desde 2009. Participei e coordenei projetos para implementação de vários protótipos na área de sensores e sistemas embarcados, como por exemplo: Protótipo de um hardware para filtragem digital para um Repetidor de telefonia celular usando FPGA; Protótipo de um hardware para filtragem digital para um bloqueador de telefonia celular multibanda usando FPGA; Protótipo de duas Front-End analógico para modem Gigabit VDSL2. Protótipos de uma unidade de controle de antenas parabólicas.</p>
            </div>
        </div>
        <div layout="row" layout-align="center start">
            <div flex="20">
                <h3 class="md-subhead">2010</h3>
            </div>
            <div flex>
                <h3 class="md-title">Labelectron - CERTI</h3>
                <p><b>Cargo:</b> Estagiário</p>
                <p>
                    <b>Principais atividades:</b> Atuou como estágiário na empresa <a href="http://labelectron.org.br/" target="_blank">Labelectron da fundação CERTI</a> em Florianópolis -Santa Catarina - durante 06 meses em 2010. Onde recebi diversos treinamentos em processos de montagem e soldagem de placas eletrônicas, projeto de placas de circuito impresso, programação de máquinas de montagem e soldagem placas de circuito impresso em média escala, fluxo de projetos de placas eletrônicas, prototipagem etc.</p>
            </div>
        </div>
        <div layout="row" layout-align="center start">
            <div flex="20">
                <h3 class="md-subhead">2006 - 2007</h3>
            </div>
            <div flex>
                <h3 class="md-title">Eletronorte</h3>
                <p><b>Cargo:</b> Estagiário</p>
                <p>
                    <b>Principais atividades:</b> Atuou como estágiário na empresa <a href="http://www.eln.gov.br/" target="_blank">Eletronorte</a> - no Centro de Tecnologia - TCT no período de 2006/2007 no Departamento de Desenvolvimento e Instrumentação Virtual (DEIV). Desenvolvimento de atividades relacionadas à área de Monitoração e Proteção de Sistemas Elétricos da Eletronorte. Estudos e pesquisas de relés de proteção, caixas de teste de relés, dispositivos de aquisição de dados e placas conversoras de Digital para Analógico (D/A) e analógico para Digital (A/D) e implementação de softwares de monitoramento usando LABView.</p>
            </div>
        </div>
    </md-card-content>
</md-card>
