<div>
    <md-card>
        <md-card-title>
            <h1 flex class="md-display-1">Sobre mim</h1>
        </md-card-title>
        <md-card-content>
            <div layout-="column" layout-gt-xs="row">
                <!-- <div flex="25" class="about-img"><img src="./../assets/img/profile.png"></div> -->
                <div flex>
                    <p>Meu nome é Patrício Cordeiro, sou engenheiro eletricista com mestrado e graduação pela Universidade Federal do Pará (UFPA). Atualmente sou professor na UFPA, onde leciono as disciplinas: Eletrônica Digital e microprocessadores e microcontroladores.
                        <p>Nos últimos anos tenho trabalhado com desenvolvimento em hardware de sistemas embarcados usando FPGA e micro-controladores e também no desenvolvimento de aplicativos web e mobile no Laboratório de sensores e sistemas embarcados (LASSE).</p>
                        <h1 class="md-display-1">Principais áreas de atuação</h1>
                        <md-list layout="column" layout-align="start start">
                            <md-list-item>
                                <md-icon class="material-icons " md-svg-icon="./../assets/icon/check.svg"></md-icon>
                                Desenvolvimento de aplicações web e mobile. Pode atuar como desenvolvedor frontend e backend.
                            </md-list-item>
                            <md-list-item>
                                <md-icon class="material-icons " md-svg-icon="./../assets/icon/check.svg"></md-icon>
                                Desenvolvimento de sistemas embarcados usando FPGA, microcontroladores, etc.
                            </md-list-item>
                            <md-list-item>
                                <md-icon class="material-icons " md-svg-icon="./../assets/icon/check.svg"></md-icon>
                                Atuar como docente nos cursos de engenharia elétrica e afins.</md-list-item>
                        </md-list>
                </div>
            </div>
        </md-card-content>
    </md-card>
</div>
