<md-card>
    <md-card-content>
        <h1 class="md-display-1">Meus projetos</h1>
        <md-list flex>
            <md-list-item class="md-3-line" layout-padding ng-repeat="project in vm.projects">
                <div class="md-list-item-text" layout="column">
                    <h3><b> {{ project.title}}</b></h3>
                    <h4><b>Descrição: </b>{{project.description}}</h4>
                    <p>Estado: {{project.status}}</p>
                    <div ng-if="project.url" flex="none">
                        <md-button layout="column" layout-align="center center" class="md-primary md-icon-button" ng-href="{{project.url}}" target="_blank">
                            <img width="32px" src="./../assets/icon/{{project.icon}}.png">
                        </md-button>
                    </div>
                    <md-divider></md-divider>
                </div>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>
